<div class="container main-wrapper">
  <h1>Mettre à jour mon article</h1>

  <%= render 'form', article: @article %>



      <%= link_to 'Annuler', @article,  class: 'btn-dark-back mb-2' %> 


</div>
