<div class="container main-wrapper">

  <h1>Créations</h1>

  <hr>

  <% if params[:category] == nil %>
    <%= link_to 'Tout', articles_path, class: "filter-article-active" %>
  <% else %>
    <%= link_to 'Tout', articles_path, class: "filter-article" %>
  <% end %>

  <% Category.all.order("name ASC").each do |cat| %>
    <% if params[:category] == cat.name %>
      <%= link_to cat.name.capitalize, articles_path(category: cat.name), class: "filter-article-active" %>
    <% else %>
      <%= link_to cat.name.capitalize, articles_path(category: cat.name), class: "filter-article" %>
    <% end %>
  <% end %>

  <hr>

  <div class="row">
    <% @articles.each do |article| %>
    
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">

      <%= link_to (article) do %>

        <div class="card">

          <div class="card-content">

            <!-- COVER IMG -->
            <% if article.images.attached? %>
              <div class="card-img-top">
                <%= image_tag crop_portrait_post_picture(article.display_cover_img), class: "img-fluid" %>
              </div>
            <% end %> 

            <div class="card-body">
              <h5 class="card-title"><%= article.title.capitalize %></h5>
              <div class="article-user">
                <%= article.user.full_name %>
              </div>
              <!-- -->
              <div class="card-text">
                <div class="mb-2">
                  publié le <%= l(article.created_at, format: :date) %>
                </div>
                <div>
                  <span class="article-badge-full"><%= article.category.name %></span>
                  <% if article.likes.count > 0 %>
                    <span class="social-badge"><i class="fas fa-heart info-icon"></i><%= article.likes.count %></span>
                  <% end %>
                  <% if article.comments.count > 0 %>
                    <span><i class="far fa-comment-alt"></i><%= article.comments.count %></span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>