<div class="container main-wrapper">

  <!-- ARTICLE -->

  <header>
    <h1><%= @article.upcase_title %></h1>
    <div class="d-flex justify-content-start">
      <% if @article.user.avatar.attached? %>
        <div class="post-avatar">
          <%= image_tag @article.user.avatar.variant(resize_to_limit: [70, 70]), class: "rounded-circle" %>
        </div>
      <% end %>
      <div>
        <h3 class="text">création de <strong><%= @article.user.full_name %></strong></h3>   
        <div class="text article-data">
          publié le <%= l(@article.created_at, format: :date) %>
        </div>
        <div class="text d-flex justify-content-start">
          <div class="article-badge-full"><%= @article.category.name %></div>
          <% if user_signed_in? %>
            <% if @article.comments.count > 0 %>
              <div class="article-data">
                <span><i class="fas fa-comment-alt info-icon"></i><%= @article.comments.count %></span>
              </div>
            <% end %>
            <% if @article.article_has_like? %>
              <div class="article-data">
                <span data-bs-toggle="tooltip" data-bs-placement="right" title="<%= @article.who_likes_article %>"><i class="fas fa-heart info-icon"></i><%= @article.likes.count %></span>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </header>

  <!-- IMAGES CAROUSEL -->

  <article>
    <%= render 'carousel', article: @article %>
  </article>

  <!-- DESCRIPTION -->

  <article>
    <h3>Description</h3>
    <div class="text">
      <%= @article.description %>
    </div>
  </article>

  <!-- ACTION ZONE -->

  <article>
  <hr>
    <% if user_signed_in? %>
      <div class="article-action d-flex justify-content-around">
        <div>
          <%= button_to article_likes_path(@article), :title => 'liker', class: "no-btn", method: :post do %>
            <i class="far fa-heart action-icon"></i><span class="dark-color d-none d-sm-none d-md-none d-lg-inline d-xl-inline">j'aime</span>
          <% end %>
        </div>

        <% if current_user.id != @article.user.id %>
          <div>
            <%= button_to user_path(@article.user_id), :title => 'profil', class: "no-btn", method: :get do %>
              <i class="far fa-user action-icon"></i><span class="dark-color d-none d-sm-none d-md-none d-lg-inline d-xl-inline">profil de <%= @article.user.first_name.capitalize %></span>
            <% end %>
          </div>
        <% end %>
        
        <% if current_user.id == @article.user.id %>

          <div>
            <%= button_to edit_article_path(@article), :title => 'modifier ma publication', class: "no-btn", method: :get do %>
              <i class="far fa-edit action-icon"></i><span class="dark-color d-none d-sm-none d-md-none d-lg-inline d-xl-inline">modifier ma publication</span>
            <% end %>
          </div>
          
          <div>
            <%= button_to @article, class: "no-btn", :title => 'supprimer ma publication', method: :delete, data: { confirm: 'Êtes vous certain de vouloir supprimer cet article ?' } do %>
              <i class="far fa-trash-alt action-icon"></i><span class="dark-color d-none d-sm-none d-md-none d-lg-inline d-xl-inline">supprimer ma publication</span>
            <% end %>
          </div>

        <% end %>
      </div>
      <hr>
    <% end %>
  </article>
  
  <!-- COMMENT -->

  <% if user_signed_in? %>
    <article>
      <h3><%= (@article.comments.count) < 2 ? 'Commentaire' : 'Commentaires'%></h3>

      <!-- DISPLAY COMMENT -->
      <%= render 'comments' %>

      <!-- NEW COMMENT -->
      <div>
        <div>
          <%= form_with(model: [@article, @article.comments.build]) do |f| %>
              <%= f.hidden_field :user_id, value: current_user.id %>
            <div class="form-group col-12">
              <div id="post-index-title-wrapper">
              <%= f.text_area :body, class: 'form-control', required: true %></a>
            </div>
            <%= button_tag type: 'submit', class: "no-btn" do %>
              <i class="far fa-comment-alt"></i><span>je commente</span></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </article>
  <% end %>

  <!-- ADMIN SECTION -->

  <% if user_signed_in? && current_user_is_admin? && current_user.id != @article.user.id %>
    <article>
      <div class="card-admin">
        <div class="d-flex justify-content-center">
          <div class="admin-content">
            <h3 class="dark-color d-none d-sm-none d-md-none d-lg-inline d-xl-inline">Section administrateur</h3>
          </div>
          <div class="admin-content">
            <%= link_to 'Supprimer cette publication', admin_delete_article_article_url(@article), class:"btn btn-outline-danger", method: :delete, data: { confirm: "Êtes vous certain de vouloir supprimer cette publication. Un email sera envoyé au membre afin de l'avertir de cette suppression" } %> 
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <p class="dark-color d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
            En tant qu'administrateur vous pouvez supprimer une publication si vous jugez son contenu inapropriété. <i class="fas fa-exclamation-triangle"></i> Cette action est irréversible !
          </p>
        </div>
      </div>
    </article>
  <% end %>


  <!-- OTHER USER ARTICLE -->

  <% if @article.user.articles.count > 1 %>
    <article>
      <h3><%= (@article.user.articles.count) > 2 ? 'Autres créations' : 'Autre création'%> de <%= @article.user.first_name.capitalize%></h3>

      <div class="row">
        <% @other_articles.each do |article| %>
          <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <%= link_to (article) do %>
                <div class="card-small">
                  <% if article.images.attached? %>
                    <div class="card-img-top mb-1">
                      <%= image_tag crop_portrait_post_picture(article.display_cover_img), class: "img-fluid" %> 
                    </div>
                  <% end %>
                  <div class="card-body">
                    <h5><%= article.title.capitalize %></h5>
                    <div class="card-text">
                      <div class="mb-2">
                        publié le <%= l(article.created_at, format: :date) %>
                      </div>
                      <div>
                        <span class="article-badge-full"><%= article.category.name %></span>
                        <% if article.comments.count > 0 %>
                          <span><i class="fas fa-comment-alt info-icon"></i><%= article.comments.count %></span>
                        <% end %>
                        <% if article.likes.count > 0 %>
                          <span class="social-badge"><i class="fas fa-heart info-icon"></i><%= article.likes.count %></span>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
        <% end %>
      </div>
    </article>
  <% end %>

</div><!-- END OF CONTAINER -->








 