<div class="card-user-profil">

  <div class="d-flex flex-row">

    <div class="p-2">
      <%= image_tag avatar_for(@user), style: "width: 100px; display: block", class: "rounded-circle" %>
    </div>

    <div class="p-2">
      <div>
        <h3>Mon espace</h3>
        <span class="">membre depuis le <%= l(@user.created_at, format: :date) %></span><br>
        <span class="">vous avez publié <%= @user.user_pluralize_article %> et <%= @user.user_pluralize_post %></span>
      </div>
      <hr>
      <div>
         <div class="d-flex justify-content-around">
            <div>
              <%= button_to edit_user_path(@user), :title => 'modifier mon profil', class: "no-btn", method: :get do %>
                <i class="far fa-edit action-icon"></i><span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline">modifier mon profil</span>
              <% end %>
            </div>

            <div>
              <%= button_to new_article_path, :title => 'nouvelle création', class: "no-btn", method: :get do %>
                <i class="fas fa-plus-circle action-icon"></i></i><span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline">nouvelle création</span>
              <% end %>
            </div>

            <div>
              <%= button_to new_post_path, :title => 'nouvelle annonce', class: "no-btn", method: :get do %>
                <i class="far fa-plus-square action-icon"></i><span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline">nouvelle annonce</span>
              <% end %>
            </div>
          </div>
      </div>

    </div>
  </div>

</div>