@import "~bootstrap/scss/bootstrap";



$background-grey: #f9f7f8;
$color:#210d1b; 
$pink: #cd0f58;
$light-pink:#ffcbb7;
$purpley-grey: #6b525e;
$dark-plum-back: #480032;
$dark-back: #34001e;
$orange-cream: #ee7268;


html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: $background-grey;
  font-size: 16px;
  margin-bottom: 150px;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  background-color: $dark-back;
  color: white;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'pt serif',serif;
  color: $color;
}

h1 {
  margin-bottom: 1.4rem;
}
.dark-plum-back {
  background-color: $dark-plum-back;
}
.dark-plum {
  color: $dark-plum-back;
}

a {
  text-decoration: none;
  color: $pink;
}

a:hover {
  text-decoration: none;
  color: $pink;
}

a:visited {
  text-decoration: none;
}

.text {
  font-family: 'Roboto', sans-serif;
  color: $purpley-grey;
}

.flash-alert {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  padding: 0 0 0 30px;
}

/* PAGE STRUCTURE
-------------------------------------------------- */

.main-wrapper {
  margin-top: 2rem;
}

header {
  margin-bottom: 2rem;
}

article {
  margin-bottom: 2rem;
}



/* FILTER
-------------------------------------------------- */

.filter {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  border-radius: 5px;
  padding: 2px 6px;
}


.filter-article {
  @extend .filter;
  margin-bottom: 10px;
  display: inline-block;
  border: 1px solid $pink;
  color: $pink;
  &:hover {
    color: $pink;
    box-shadow: 0 5px 15px 0 rgba(147,114,137,.2),0 2px 4px 0 rgba(90,63,82,.5);
  }
}

.filter-article-active {
  @extend .filter;
  display: inline-block;
  border: 1px solid $pink;
  background-color: $pink;
  color: $white;
  cursor: not-allowed;
  pointer-events: none;
}

.filter-post {
  @extend .filter;
  border: 1px solid $dark-plum-back;
  color: $dark-plum-back;
  &:hover {
    color: $dark-plum-back;
    box-shadow: 0 5px 15px 0 rgba(147,114,137,.2),0 2px 4px 0 rgba(90,63,82,.5);
  }
}

.filter-post-active {
  @extend .filter;
  border: 1px solid $dark-plum-back;
  background-color: $dark-plum-back;
  color: $white;
  cursor: not-allowed;
  pointer-events: none;
}

/* BUTTON
-------------------------------------------------- */

.no-btn {
  color: $dark-back;
  outline: none;
  background: transparent;
  border: 1px solid transparent;
  &:hover {
    color: $pink;
  }
}

.btn-secondary {
  color: #fff;
  background-color: $dark-plum-back;
  border-color: $dark-plum-back;
}

.btn-secondary:hover {
  color: $pink;
  background-color: $dark-back;
  border-color: $dark-back;
}

.btn-light-pink {
  color: #fff;
  background-color: $orange-cream;
  border-color: $orange-cream;
  &:hover {
    filter: brightness(0.95);
    color: $dark-plum-back;
  }
}

.btn-dark-back {
  @extend .btn;
  font-size: 0.8rem;
  padding: 0.35rem 0.75rem;
  color: #fff;
  background-color: $dark-back;
  border-color: $dark-back;
  &:hover {
    filter: brightness(0.95);
    color: $pink;
  }
}

.btn-text {
  margin-left: 0.6rem;
}

  
 

.delete-btn:before {
  font-family: "Font Awesome 5 Free";
  content: "\f1f8";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  margin-left: 1rem;
}

/* on Article#edit */
.delete-img{
  color: $color;
  &:hover {
    color: $pink;
  }
  &:before {
    font-family: "Font Awesome 5 Free";
    content: "\f1f8";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 700;
  }
}


/* ICON
-------------------------------------------------- */

.fa-heart, .fa-comment-alt, .fa-edit, .fa-trash-alt, 
.fa-user, .fa-caret-square-left, .fa-comment-dots,
.fa-plus-circle,
.fa-plus-square, .fa-reply,
.fa-images {
  margin-right: 0.4rem;
}

.fa-arrow-circle-left, .fa-arrow-circle-right {
  color: $pink;
}

.info-icon {
  color: $pink;
}

/* BADGE
-------------------------------------------------- */

.badge {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  border-radius: 5px;
  /*padding: 2px 6px;*/
  margin-right: 0.6rem;
}

.social-badge {
  margin-right: 0.6rem;
}

.article-badge-full {
  @extend .badge;
  color: white;
  background-color: $pink;
  border: 1px solid $pink;
}

.post-badge {
  @extend .badge;
  color: $dark-plum-back;
}


/* NAVBAR
-------------------------------------------------- */

.navbar{
  a {
    color: #cccccc;
  }
  a:hover {
    color: $pink;
  }
}


.nav-link.disabled {
  pointer-events: auto;
  cursor: not-allowed !important;
}


/* CARD
-------------------------------------------------- */

.card {
  border-radius: 8px;
  box-shadow: 0 5px 15px 0 rgba(147,114,137,.2),0 2px 4px 0 rgba(90,63,82,.2);
  overflow: hidden;
  min-width: 100%;
}

.card-small {
  @extend .card;
  padding: 0.8rem;
}


/* =>  NE SERT A RIEN NORMALEMENT */

.card-img-top {
  overflow: auto;
  max-width: 100%;
}



.img-index {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post-card .card-body {
  padding: 0rem;
}

.card-title {
  font-size: 1.6rem;
  min-height: 4rem;
}

.article-user {
  @extend .text;
  font-size: 1.2rem;
}

.card-text {
  @extend .text;
  font-size: 0.8rem;
  width: 100%;
}

/* Article#edit img-card */
.card-edit-img {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  /* background-color: #fff; */
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  .card-body {
    flex: 1 1 auto;
    padding: 0.5rem;
}
} 

.img-data {
  font-size: 0.8rem;
}


/* ADMIN CARD */

.card-admin {
  border-radius: 8px;
  box-shadow: 0 5px 15px 0 rgba(147, 114, 137, 0.2), 0 2px 4px 0 rgba(90, 63, 82, 0.2);
  overflow: hidden;
  margin: 2rem 0;
  flex: 1 1 auto;
  background-color: $dark-back;
  color: white;
  padding: 0.8rem;
  h3 {
    color: white;
  }
  .admin-content {
    margin: 0 0.8rem ;
    .btn {
      font-size: 1.2rem;
      padding: 0.375rem 2rem;
    }
  }
  p {
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 0.8rem;
  }
}


.card-user-profil {
  border-radius: 8px;
  box-shadow: 0 5px 15px 0 rgba(147, 114, 137, 0.2), 0 2px 4px 0 rgba(90, 63, 82, 0.2);
  overflow: hidden;
  flex: 1 1 auto;
  margin-top: 2rem;
  margin-bottom: 3rem;

}

.col-left {
  padding-left: 0;
  margin-bottom: 1rem;
}

.col-right {
  padding-right: 0;
  padding-left: 2rem;
  margin-bottom: 1rem;
}



/* ARTICLE#SHOW
-------------------------------------------------- */


.article-data {
  margin-right: 0.3rem;
}


/* ARTICLE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 0.4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  font-weight: bold;
  color: $pink;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: $pink;
  font-weight: bold;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    /* height: 3px; */
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease;
}

/* ARTICLE COMMENTS
-------------------------------------------------- */

.comment {
  margin-bottom: 1.4rem;
  color: $dark-back;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
}

.comment-body {
  color: $pink
}

.comment-info {
  @extend .text;
  margin-left: 1rem;
  font-size: 0.8rem;
  .fa-trash-alt {
    color: $purpley-grey;
    margin-right: 0.3rem;
    margin-left: 1rem;
  }
}

/* ARTICLE EDIT
-------------------------------------------------- */

.img-edit-wrapper {
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 8px;
  width: 230px;
  border: 1px solid $purpley-grey;
}


/* USER INDEX ANNUAIRE
-------------------------------------------------- */
table {
  width: 100%;
}


#user-index tbody tr:hover {
  @extend .text;
  color: $pink
}


/* USER INDEX ANNUAIRE
-------------------------------------------------- */

.post-card {
  border-radius: 8px;
  box-shadow: 0 5px 15px 0 rgba(147, 114, 137, 0.2), 0 2px 4px 0 rgba(90, 63, 82, 0.2);
  overflow: hidden;
  margin-bottom: 1rem;
  flex: 1 1 auto;
  padding: 1rem;

}

/* POST INDEX
-------------------------------------------------- */


.rails-inner-button {
  display: inline-block;
  min-width: 40px;
  max-width: 186px;
}

#post-index-title-wrapper {
    min-width: 100%  !important;
  }



.post-body {
  @extend .text;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.post-body-index {
  @extend .post-body;
  font-size: 1.2rem;
  margin-bottom: 1.6rem;
  padding: 0 1rem;
}

.post-body-user {
  @extend .post-body;
  font-size: 0.8rem;
  padding: 0.6rem 0.6rem 0rem 0;
  max-height: 50px;
}

.post-index-avatar {
  margin-right: 1rem;
  margin-left: 5px;
}

.post-img-wrapper {
  position: relative;
  display:inline-block;
}

.post-badge-full {
  @extend .badge;
  border: 1px solid $dark-plum-back;
  background-color: $dark-plum-back;
  color: white;
}

.post-publish-info {
  @extend .text;
  font-size: 0.9rem
}

.post-publish {
  margin-right: 1rem;
}

/* POST#SHOW
-------------------------------------------------- */


.post-text {
  @extend .text;
  padding-left: 1rem;
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 200;
  text-align: justify;
  text-justify: inter-word;
}

.post-avatar {
  margin-right: 1rem;
}

.post-picture {
  /*border-radius: 8px;*/
  margin-right: 2rem;
}

/* post#show answer */

textarea {
  resize: vertical;
}

.text-area {
  font-size: 0.8rem;
  padding: 4px 6px;
}

.answer-body {
  font-family: 'Roboto', sans-serif;
  color: $pink;
  font-size: 1rem;
}

.comment-info {
  font-family: 'Roboto', sans-serif;
  color: $purpley-grey;
  font-size: 0.8rem;
  a {
    color: $purpley-grey;
  }
}

.comment-info a:hover {
  color: $dark-back;
}


/* ADMIN USER#SHOW
-------------------------------------------------- */

.request-table {
  min-width: 100%;
  thead {
    border-bottom: 1px solid $purpley-grey;
  }
  thead, tr, th {
    padding-bottom: 0.8rem;
  }

  th, td {

  }
  
  thead th:nth-child(5) {  

  }
  tbody {
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid $purpley-grey;
  }
  
  tbody, tr, td {
    padding: 0.6rem 0;
  }
  
  .fa-check, .fa-times {
    margin-right: 0.5rem;
  }
}


.admin-card .data {
  font-family: 'Roboto', sans-serif;
  color: white;
  font: size 3rem;
}



@import "responsive.scss";