

<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">

    <div class="field">
      <% if current_user_is_admin? %>
        <%= f.select :column_id, Column.order(name: :asc).pluck(:name, :id), :prompt => 'choississez la rubrique de votre annonce', required: true %>
      <% else %>
        <%= f.select :column_id, Column.where.not(name: "annonce club").order("name ASC").map { |c| [c.name, c.id]}, :include_blank => 'choississez la rubrique de votre annonce', required: true %>
      <% end %>
    </div>

    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.input :title, required: true %>
    <%= f.input :body, required: true, :input_html => {:rows => 15} %>
    <%= f.label :picture %>
    <%= f.file_field :picture, direct_upload: true, class: "form-control" %>
  </div>

  <div class="form-actions mt-2">
    <%= f.button :submit, 'Poster mon annonce', class: "btn-light-pink mb-2" %>
  </div>
<% end %>
