<div class="container main-wrapper">

  <header>
    <h1><%= @post.title %></h1>
    <div class="d-flex justify-content-start">
      <% if @post.user.avatar.attached? %>
        <div class="post-avatar">
          <%= image_tag @post.user.avatar.variant(resize_to_limit: [70, 70]), class: "rounded-circle" %>
        </div>
      <% end %>
      <div>
        <h3 class="text">annonce de <strong><%= @post.user.full_name %></strong></h3>
        <span class="filter-post"><%= @post.column.name %></span>
        <span class="text">posté il y a <%= time_ago_in_words(@post.created_at) %></span>
      </div>
    </div>
  </header>

  <article>
    <div class="d-flex flex-row">
      <% if @post.picture.attached? %>
        <div class="col-5">
          <%= image_tag @post.picture, class: "img-fluid" %>
        </div>
      <% end %> 
      <div class="post-text">
        <%= @post.body %>
      </div>
    </div>
  </article>

<!-- ACTION ZONE -->
  <% if user_signed_in? %>
    <article>
      <hr>
        <div class="article-action d-flex justify-content-around">

          <% if current_user.id == @post.user.id %>
            <div>
              <%= button_to edit_post_path(@post), :title => 'modifier mon annonce', class: "no-btn", method: :get do %>
                <i class="far fa-edit action-icon"></i><span class="dark-color d-none d-sm-none d-md-none d-lg-inline d-xl-inline">modifier mon annonce</span>
              <% end %>
            </div>
          <% end %>

          <% if current_user.id != @post.user.id %>
            <div>
              <%= button_to user_path(@post.user_id), :title => 'profil', class: "no-btn", method: :get do %>
                <i class="far fa-user action-icon"></i><span class="dark-color d-none d-sm-none d-md-none d-lg-inline d-xl-inline">profil de <%= @post.user.first_name.capitalize %></span>
              <% end %>
            </div>
          <% end %>

          <% if current_user.id == @post.user.id %>
            <div>
              <%= button_to @post, class: "no-btn", :title => 'supprimer mon annonce', method: :delete, data: { confirm: 'Êtes vous certain de vouloir supprimer cette annonce ?' } do %>
                <i class="far fa-trash-alt action-icon"></i><span class="dark-color d-none d-sm-none d-md-none d-lg-inline d-xl-inline">supprimer mon annonce</span>
              <% end %>
            </div>
          <% end %>

          <div>
            <%= link_to posts_path, class: "no-btn", :title => 'retour aux annonces', method: :get do %>
              <i class="far fa-caret-square-left action-icon" alt="Accueil"></i><span class="dark-color d-none d-sm-none d-md-none d-lg-inline d-xl-inline">retour aux annonces</span>
            <% end %>
          </div>

        </div>
      <hr>
    </article>
  <% end %>


<!-- ANSWER SECTION : see answers-->
  <% if user_signed_in? %>
    <article>
      <% if @post.answers.count > 0 %>
        <h3><%= (@post.answers.count) < 2 ? 'Réponse' : 'Réponses'%></h3>
        <ul>
          <%= render @post.answers %>
        </ul>
      <% end %>
      <!-- ANSWER SECTION : post answer -->
      <div>
        <div>
          <%= form_with(model: [@post, Answer.new]) do |f| %>
              <%= f.hidden_field :user_id, value: current_user.id %>
            <div class="form-group col-12">
              <%= f.text_area :body, class: 'form-control', placeholder: "répondre à l'annonce de #{@post.user.first_name.capitalize}", required: true %>
            </div>
            <%= button_tag type: 'submit', class: "no-btn" do %>
              <i class="far fa-comment-alt"></i><span>poster une réponse</span></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </article>
  <% end %>

<!-- ADMIN SECTION -->

  <% if current_user_is_admin? && current_user.id != @post.user.id %>
    <article>
      <div class="card-admin">
        <div class="d-flex justify-content-center">
          <div class="admin-content">
            <h3 class="dark-color d-none d-sm-none d-md-none d-lg-inline d-xl-inline">Section administrateur</h3>
          </div>
          <div class="admin-content">
            <%= link_to 'Supprimer cette annonce', admin_delete_post_post_url(@post), class:"btn btn-outline-danger", method: :delete, data: { confirm: "Êtes vous certain de vouloir supprimer cette annonce. Un email sera envoyé au membre afin de l'avertir de cette suppression" } %> 
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <p class="dark-color d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
            En tant qu'administrateur vous pouvez supprimer une publication si vous jugez son contenu inapropriété. <i class="fas fa-exclamation-triangle"></i> Cette action est irréversible !
          </p>
        </div>
      </div>
    </article>
  <% end %>
  
  
</div>