<nav class="navbar navbar-expand-lg navbar-dark dark-plum-back">
  <div class="container-fluid">
    <div><%= link_to "Renov-Fauteuil", root_path, :class => "navbar-brand" %></div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <% if user_signed_in? %>
          <li class="nav-item nav-link"><%= link_to "Annuaire", users_path %></li>
        <% else %>
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Annuaire</a>
        <% end %>

        <% if user_signed_in? %>
          <li class="nav-item nav-link"><%= link_to "Annonces", posts_path %></li>
        <% else %>
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Annonces</a>
        <% end %>

        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profil
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li class="dropdown-item">Salut <%= current_user.first_name.capitalize %></li>
              <li class="dropdown-item"><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %></li>
              <li><hr class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'Mon espace', user_path(current_user) %></li>
              <!--
              <% if current_user_is_admin? %>
                <li class="dropdown-item"><%= link_to 'Admin', pages_admin_path %></li>
              <% end %>
              -->
              <li class="dropdown-item"><li><hr class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to "Modifier email / mot de passe", edit_user_registration_path %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Se connecter
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li class="dropdown-item"><%= link_to "Se connecter", new_user_session_path %></li>
              <li class="dropdown-item"><%= link_to "S'inscrire", new_guest_path %></li>
            </ul>
          </li>
        <% end %>

      </ul>

    </div>
  </div>
</nav>